[submodule "nanogui"]
	path = nanogui
	url = https://github.com/wjakob/nanogui
[submodule "vector"]
	path = vector
	url = https://github.com/Jino42/vector
[submodule "matrix"]
	path = matrix
	url = https://github.com/Jino42/matrix
[submodule "libft"]
	path = libft
	url = https://github.com/Jino42/libft
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "nuklear"]
	path = nuklear
	url = https://github.com/vurtun/nuklear.git
